.logo-landing {
              height:191px;
              width:span(2 of 4); overflow:hidden; 
              margin:0 auto; padding: 0;
             &::before{content: url("../images/logo_big.png"); display: block;}
             } 
.tagline {text-align:center; 
	@include span(full);
		@include rob(1.3em, 400);
		strong {font-weight:700;}
		}
.land {@include span(4 of 12 split);
		background-color: yellow; text-align:center;
	   .icon{ width:150px; margin:0 auto;}
	   article {@include rob(1em/1.1em, 400);
	   			h1 {@include pal(1.5em, 700);}
	   			strong {font-weight:700;}
	   		}
 
	   }