.logo-landing {
              // height:60px; 
              width:span(3 of 4); overflow:hidden; margin: 0; padding: 0; 
             &::before{content: url(); display: block;}
             } 
#tagline {text-align:center; @include rob(1.3em, 400);
		strong {font-weight:700;}
		}
.land {@include span(1 of 3);
	   .icon{ width:150px; margin:0 auto;}
	   
	   }