// Top
//  Main View

#top {
	 @include span(full);
	 @include card(1);
	 background-color:$gray;
	 height: 75px;
	 .logo {@include span(2 wide first);
	 		background-color:$one; }
	 .nav-top { @include span(8 last);
	 			text-align: right;
				background-color:$one;
				ul{ margin :0; 
					li{padding:0 10px; display:inline-block; padding:0 0.5em;}
				}
	 		}
	}