@import  "lib/lib";
@import  "lib/mixins";

// Configuring Susy Defaults
$susy: (
  columns:12,
  global-box-sizing: border-box,
  utter-position: split,
  debug: (
    image: show-columns,
    output: overlay,
    toggle: bottom left
    )
  ); 


// Variables
// Colors

// Test Color
$one: #fbeecb;
$two: #71dad2;
$three: #265432;
$gray : rgb(128, 128, 128);

// size
$lg:  1200px;
$med:  952px;
$sm:   750px; 

@import "nav";
@import "top";
@import "component";




